# Report Card Enrollment

## Contents:
### 01. Import libraries and data
### 02. Explore data
### 03. Wrangle data
### 04. Export data

## 01. Import libraries and data

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
import os

In [2]:
# Ensure the charts created are displayed in the notebook without the need to "call" them specifically.

%matplotlib inline

In [3]:
# Create path shortcut

path = r'C:\Users\lrutl\OneDrive\Desktop\Advanced Analytics & Dashboard Design\COVID19 School ReOpening and Students'

In [5]:
# Import data

rc = pd.read_csv(os.path.join(path, '02 Data', 'Original data', 'Report_Card_Enrollment_2020-21_School_Year.csv'))

## 02. Explore data

In [6]:
rc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20151 entries, 0 to 20150
Data columns (total 43 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   SchoolYear                               20151 non-null  object
 1   OrganizationLevel                        20151 non-null  object
 2   County                                   20151 non-null  object
 3   ESDName                                  19829 non-null  object
 4   ESDOrganizationId                        19813 non-null  float64
 5   DistrictCode                             20135 non-null  float64
 6   DistrictName                             20151 non-null  object
 7   DistrictOrganizationId                   20135 non-null  float64
 8   SchoolCode                               15740 non-null  float64
 9   SchoolName                               20151 non-null  object
 10  SchoolOrganizationId                     15740 non-null  float64
 11  CurrentSchoolType                        15740 non-null  object
 12  GradeLevel                               20151 non-null  object
 13  All Students                             20151 non-null  int64
 14  Female                                   20151 non-null  int64
 15  Gender X                                 20151 non-null  int64
 16  Male                                     20151 non-null  int64
 17  American Indian/ Alaskan Native          20151 non-null  int64
 18  Asian                                    20151 non-null  int64
 19  Black/ African American                  20151 non-null  int64
 20  Hispanic/ Latino of any race(s)          20151 non-null  int64
 21  Native Hawaiian/ Other Pacific Islander  20151 non-null  int64
 22  Two or More Races                        20151 non-null  int64
 23  White                                    20151 non-null  int64
 24  English Language Learners                20151 non-null  int64
 25  Highly Capable                           20151 non-null  int64
 26  Homeless                                 20151 non-null  int64
 27  Low-Income                               20151 non-null  int64
 28  Migrant                                  20151 non-null  int64
 29  Military Parent                          20151 non-null  int64
 30  Mobile                                   20151 non-null  int64
 31  Section 504                              20151 non-null  int64
 32  Students with Disabilities               20151 non-null  int64
 33  Non-English Language Learners            20151 non-null  int64
 34  Non-Highly Capable                       20151 non-null  int64
 35  Non-Homeless                             20151 non-null  int64
 36  Non-Low Income                           20151 non-null  int64
 37  Non Migrant                              20151 non-null  int64
 38  Non Military Parent                      20151 non-null  int64
 39  Non Mobile                               20151 non-null  int64
 40  Non Section 504                          20151 non-null  int64
 41  Students without Disabilities            20151 non-null  int64
 42  DataAsOf                                 20151 non-null  object
dtypes: float64(5), int64(29), object(9)
memory usage: 6.6+ MB

In [8]:
# Check all columns will be displayed in notebook

pd.get_option("display.max_columns")

20

In [9]:
# Update max columns displayed to allow for all columns in rc df

pd.set_option("display.max_columns", 50)

In [11]:
# Check all columns are displayed

rc.head()

,SchoolYear,OrganizationLevel,County,ESDName,ESDOrganizationId,DistrictCode,DistrictName,DistrictOrganizationId,SchoolCode,SchoolName,SchoolOrganizationId,CurrentSchoolType,GradeLevel,All Students,Female,Gender X,Male,American Indian/ Alaskan Native,Asian,Black/ African American,Hispanic/ Latino of any race(s),Native Hawaiian/ Other Pacific Islander,Two or More Races,White,English Language Learners,Highly Capable,Homeless,Low-Income,Migrant,Military Parent,Mobile,Section 504,Students with Disabilities,Non-English Language Learners,Non-Highly Capable,Non-Homeless,Non-Low Income,Non Migrant,Non Military Parent,Non Mobile,Non Section 504,Students without Disabilities,DataAsOf
0,2020-21,State,Multiple,State Total,NaN,NaN,State Total,NaN,NaN,State Total,NaN,NaN,10th Grade,84252,40700,174,43378,1066,6975,3685,20418,1076,6736,44292,7825,5728,1752,36107,1738,1498,1298,5039,10359,76427,78524,82500,48145,82514,82754,82954,79213,73893,2/17/2021
1,2020-21,State,Multiple,State Total,NaN,NaN,State Total,NaN,NaN,State Total,NaN,NaN,11th Grade,83924,40946,211,42767,1073,7110,3726,19600,998,6447,44964,7103,5848,1682,34197,1729,1448,1503,5230,9828,76821,78076,82242,49727,82195,82476,82421,78694,74096,2/17/2021
2,2020-21,State,Multiple,State Total,NaN,NaN,State Total,NaN,NaN,State Total,NaN,NaN,12th Grade,91712,44325,278,47109,1295,7448,4318,21016,1103,6820,49702,6788,5611,2568,36844,1672,1420,3510,5501,12990,84924,86101,89144,54868,90040,90292,88202,86211,78722,2/17/2021
3,2020-21,State,Multiple,State Total,NaN,NaN,State Total,NaN,NaN,State Total,NaN,NaN,1st Grade,78611,37967,50,40594,1025,6783,3649,19283,1039,7565,39261,16243,1248,1876,35775,1324,2761,1882,812,9991,62368,77363,76735,42836,77287,75850,76729,77799,68620,2/17/2021
4,2020-21,State,Multiple,State Total,NaN,NaN,State Total,NaN,NaN,State Total,NaN,NaN,2nd Grade,79765,38745,42,40978,1034,7016,3679,19316,1019,7645,40052,14745,3262,1833,36739,1365,2591,1714,1309,10795,65020,76503,77932,43026,78400,77174,78051,78456,68970,2/17/2021

## 03. Wrangle data

In [13]:
# Check df shape

rc.shape

(20151, 43)

In [14]:
# Organization levels

rc.value_counts('OrganizationLevel')

OrganizationLevel
School      15740
District     4395
State          16
dtype: int64

In [16]:
# Drop data that is not aggrigated at district level

rc = rc[rc['OrganizationLevel'] == 'District']
rc.shape

(4395, 43)

In [17]:
# Grade level aggrigation

rc.value_counts('GradeLevel')

GradeLevel
AllGrades                325
1st Grade                304
6th Grade                303
2nd Grade                301
3rd Grade                301
5th Grade                301
4th Grade                300
Kindergarten             297
7th Grade                295
8th Grade                292
11th Grade               273
12th Grade               272
10th Grade               271
9th Grade                266
Pre-Kindergarten         265
Half-day Kindergarten     29
dtype: int64

In [18]:
# Drop data that is not aggrigated to AllGrades

rc = rc[rc['GradeLevel'] == 'AllGrades']
rc.shape

(325, 43)

In [19]:
# Check SchoolName only contains DistrictTotal

rc.value_counts('SchoolName')

SchoolName
District Total    325
dtype: int64

In [20]:
# Check for duplicate rows

rc_dups = rc[rc.duplicated()]
rc_dups

Empty DataFrame
Columns: [SchoolYear, OrganizationLevel, County, ESDName, ESDOrganizationId, DistrictCode, DistrictName, DistrictOrganizationId, SchoolCode, SchoolName, SchoolOrganizationId, CurrentSchoolType, GradeLevel, All Students, Female, Gender X, Male, American Indian/ Alaskan Native, Asian, Black/ African American, Hispanic/ Latino of any race(s), Native Hawaiian/ Other Pacific Islander, Two or More Races, White, English Language Learners, Highly Capable, Homeless, Low-Income, Migrant, Military Parent, Mobile, Section 504, Students with Disabilities, Non-English Language Learners, Non-Highly Capable, Non-Homeless, Non-Low Income, Non Migrant, Non Military Parent, Non Mobile, Non Section 504, Students without Disabilities, DataAsOf]
Index: []

In [21]:
# Drop columns not needed in analysis

rc = rc.drop(columns = ['ESDName','ESDOrganizationId','SchoolCode','SchoolName','SchoolOrganizationId','CurrentSchoolType','GradeLevel','DataAsOf'])

In [22]:
rc.shape

(325, 35)

In [23]:
rc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 325 entries, 15768 to 20148
Data columns (total 35 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   SchoolYear                               325 non-null    object
 1   OrganizationLevel                        325 non-null    object
 2   County                                   325 non-null    object
 3   DistrictCode                             325 non-null    float64
 4   DistrictName                             325 non-null    object
 5   DistrictOrganizationId                   325 non-null    float64
 6   All Students                             325 non-null    int64
 7   Female                                   325 non-null    int64
 8   Gender X                                 325 non-null    int64
 9   Male                                     325 non-null    int64
 10  American Indian/ Alaskan Native          325 non-null    int64
 11  Asian                                    325 non-null    int64
 12  Black/ African American                  325 non-null    int64
 13  Hispanic/ Latino of any race(s)          325 non-null    int64
 14  Native Hawaiian/ Other Pacific Islander  325 non-null    int64
 15  Two or More Races                        325 non-null    int64
 16  White                                    325 non-null    int64
 17  English Language Learners                325 non-null    int64
 18  Highly Capable                           325 non-null    int64
 19  Homeless                                 325 non-null    int64
 20  Low-Income                               325 non-null    int64
 21  Migrant                                  325 non-null    int64
 22  Military Parent                          325 non-null    int64
 23  Mobile                                   325 non-null    int64
 24  Section 504                              325 non-null    int64
 25  Students with Disabilities               325 non-null    int64
 26  Non-English Language Learners            325 non-null    int64
 27  Non-Highly Capable                       325 non-null    int64
 28  Non-Homeless                             325 non-null    int64
 29  Non-Low Income                           325 non-null    int64
 30  Non Migrant                              325 non-null    int64
 31  Non Military Parent                      325 non-null    int64
 32  Non Mobile                               325 non-null    int64
 33  Non Section 504                          325 non-null    int64
 34  Students without Disabilities            325 non-null    int64
dtypes: float64(2), int64(29), object(4)
memory usage: 91.4+ KB

In [24]:
rc.head(10)

,SchoolYear,OrganizationLevel,County,DistrictCode,DistrictName,DistrictOrganizationId,All Students,Female,Gender X,Male,American Indian/ Alaskan Native,Asian,Black/ African American,Hispanic/ Latino of any race(s),Native Hawaiian/ Other Pacific Islander,Two or More Races,White,English Language Learners,Highly Capable,Homeless,Low-Income,Migrant,Military Parent,Mobile,Section 504,Students with Disabilities,Non-English Language Learners,Non-Highly Capable,Non-Homeless,Non-Low Income,Non Migrant,Non Military Parent,Non Mobile,Non Section 504,Students without Disabilities
15768,2020-21,District,Grays Harbor,14005.0,Aberdeen School District,100010.0,3310,1673,0,1637,85,48,36,1137,2,270,1732,431,100,70,2480,89,24,173,133,573,2879,3210,3240,830,3221,3286,3137,3177,2737
15783,2020-21,District,Lewis,21226.0,Adna School District,100011.0,591,293,1,297,5,4,6,45,0,10,521,0,25,8,173,0,8,19,8,64,591,566,583,418,591,583,572,583,527
15794,2020-21,District,Lincoln,22017.0,Almira School District,100012.0,121,57,0,64,0,1,1,6,0,12,101,0,0,1,43,0,0,6,0,14,121,121,120,78,121,121,115,121,107
15809,2020-21,District,Skagit,29103.0,Anacortes School District,100013.0,2592,1279,2,1311,23,48,20,294,1,225,1981,42,212,46,720,10,281,104,131,352,2550,2380,2546,1872,2582,2311,2488,2461,2240
15824,2020-21,District,Snohomish,31016.0,Arlington School District,100014.0,5478,2649,5,2824,49,73,35,814,14,466,4027,257,179,71,1970,39,119,181,215,835,5221,5299,5407,3508,5439,5359,5297,5263,4643
15839,2020-21,District,Asotin,2420.0,Asotin-Anatone School District,100015.0,619,301,0,318,2,6,1,30,3,34,543,0,45,1,201,0,5,11,8,96,619,574,618,418,619,614,608,611,523
15854,2020-21,District,King,17408.0,Auburn School District,100016.0,17065,8284,0,8781,186,1894,1396,5391,850,1701,5647,3686,547,39,9705,12,147,475,262,1973,13379,16518,17026,7360,17053,16918,16590,16803,15092
15869,2020-21,District,Kitsap,18303.0,Bainbridge Island School District,100017.0,3677,1787,1,1889,17,120,22,290,8,355,2865,51,467,15,270,0,75,76,572,484,3626,3210,3662,3407,3677,3602,3601,3105,3193
15875,2020-21,District,Pierce,27931.0,Bates Technical College,104220.0,380,79,0,301,7,6,36,52,7,21,251,0,0,0,0,1,3,77,0,0,380,380,380,380,379,377,303,380,380
15888,2020-21,District,Clark,6119.0,Battle Ground School District,100018.0,12072,5978,2,6092,66,306,133,1379,61,690,9437,794,703,148,3955,10,112,530,423,1806,11278,11369,11924,8117,12062,11960,11542,11649,10266

In [25]:
rc.describe()

,DistrictCode,DistrictOrganizationId,All Students,Female,Gender X,Male,American Indian/ Alaskan Native,Asian,Black/ African American,Hispanic/ Latino of any race(s),Native Hawaiian/ Other Pacific Islander,Two or More Races,White,English Language Learners,Highly Capable,Homeless,Low-Income,Migrant,Military Parent,Mobile,Section 504,Students with Disabilities,Non-English Language Learners,Non-Highly Capable,Non-Homeless,Non-Low Income,Non Migrant,Non Military Parent,Non Mobile,Non Section 504,Students without Disabilities
count,325.000000,325.000000,325.000000,325.000000,325.000000,325.000000,325.000000,325.000000,325.000000,325.000000,325.000000,325.000000,325.000000,325.000000,325.000000,325.000000,325.000000,325.000000,325.000000,325.000000,325.000000,325.000000,325.000000,325.000000,325.000000,325.000000,325.000000,325.000000,325.000000,325.000000,325.000000
mean,22726.292308,100536.596923,3369.932308,1629.815385,4.366154,1735.750769,43.360000,280.544615,153.883077,831.196923,41.510769,297.101538,1722.156923,400.769231,215.833846,72.409231,1489.892308,64.673846,84.473846,106.529231,130.486154,472.120000,2969.163077,3154.098462,3297.523077,1880.040000,3305.258462,3285.458462,3263.403077,3239.446154,2897.812308
std,10828.380156,1411.520394,6300.870260,3046.718770,18.762767,3246.135578,89.160018,1118.099104,631.352036,1718.449193,149.748485,709.576394,3044.409109,981.195793,573.669021,171.806762,2867.057768,219.659525,329.383642,175.312745,276.383195,875.219765,5495.948836,5817.838309,6160.994036,3963.232934,6258.485181,6207.809528,6137.871315,6061.646704,5441.465586
min,1109.000000,100001.000000,7.000000,4.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.000000,7.000000,7.000000,0.000000,7.000000,7.000000,0.000000,7.000000,1.000000
25%,14117.000000,100084.000000,203.000000,100.000000,0.000000,105.000000,2.000000,1.000000,1.000000,23.000000,0.000000,7.000000,100.000000,0.000000,0.000000,1.000000,105.000000,0.000000,1.000000,8.000000,1.000000,27.000000,190.000000,201.000000,195.000000,79.000000,201.000000,198.000000,194.000000,200.000000,175.000000
50%,22204.000000,100165.000000,793.000000,369.000000,0.000000,402.000000,10.000000,5.000000,5.000000,120.000000,1.000000,40.000000,463.000000,38.000000,17.000000,18.000000,404.000000,3.000000,7.000000,34.000000,21.000000,123.000000,707.000000,757.000000,736.000000,353.000000,731.000000,781.000000,759.000000,776.000000,688.000000
75%,32358.000000,100246.000000,3310.000000,1600.000000,2.000000,1698.000000,40.000000,51.000000,38.000000,799.000000,8.000000,178.000000,1981.000000,282.000000,152.000000,71.000000,1484.000000,28.000000,41.000000,111.000000,122.000000,480.000000,2939.000000,3129.000000,3240.000000,1642.000000,3221.000000,3290.000000,3172.000000,3173.000000,2805.000000
max,39801.000000,106257.000000,53997.000000,26036.000000,248.000000,27769.000000,663.000000,10864.000000,8116.000000,13679.000000,1231.000000,6612.000000,24668.000000,6760.000000,4965.000000,1990.000000,17968.000000,2050.000000,3916.000000,1111.000000,1995.000000,8024.000000,47237.000000,49032.000000,52007.000000,36420.000000,53857.000000,53765.000000,53050.000000,52607.000000,45973.000000

## 04. Export data

In [29]:
# Export data as csv file

rc.to_csv(os.path.join(path,'02 Data','Prepared data','Report_Card_Enrollment_2020-21_School_Year - clean.csv'))